
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style.css" />
<title>Selfies In the City</title>
</head>

<body>
  <div>

   <div id="page">

       <div id="header">
         <h1>Selfies in the City</h1>

         <%= link_to "Upload Pic", new_photo_path %>
           <ul>
               <li><a href="#">Selfies</a></li>
               <li><a href="#">About Us</a></li>
               <li><a href="mailto:brittanyhenson@gmail.com">Contact</a></li>
               <li><a href="#top">Top of Page</a></li>
           </ul>
       </div>

       <div id="main">

         <div class="main_top">
             <h1>Rate Us!</h1>
           </div>

            <div class="main_body">


               <p>  </p>

               <p></p>

               <p> </p>
           </div>

            <div class="main_bottom"></div>

       </div>



       <div id="footer">

       </div>

       </div>
</body>
</html>
